.hh {
    background-image: url(laptopwomanfk.png);
    background-size: 100px;
    background-position-x: center;
    background-repeat: none;
    opacity: 100px;
}
.get-started {
    border-radius: 50px;
    color: rgb(251, 255, 0);

}
h6 {
    font-size: x-large;
}
button {
    border-radius: 50px;
}