.main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.list {
    background-color: rgb(165, 53, 12);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
    height: 70px;
}
.sch {
    background-image: url( Img\ \(1\).png );
    align-self: center;
    justify-content: center;
    text-align: center;
    height: 500px;
    color: seashell;
    padding-top: 180px;
    opacity: 2.0;
    background-repeat: no-repeat;
}
body {
    margin: 0pt;
    padding: 30px 30px;
}
button {
    color: rgb(241, 247, 248);
    padding: 10px;
    border-radius: 10px;
    background-color: coral;
}
button:hover{
    background-color: rgb(214, 212, 212);
    color: black;
}
hi {
    text-align: center;
    height: 32px;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 48px;
    line-height: 32px;
    font-style: normal;
    width: 261px;

}