body{
    background-color: gray;
    font-family: Poppins;
}


.main-form{
    background-color: #fff;
    padding: 50px;
    border-radius: 10px;
}

.inputs, .btn-container{
    padding-top: 20px;
}

.inputs input{
    height: 40px;
    border-radius: 5px;
    border: none;
    width: 300px;
    padding-left: 10px;

}


.user-field{
    border: 3px solid gray;
    border-radius: 10px;
    padding-left: 10px;
}
.container{
    justify-content: center;
    display: flex;
    margin-top: 100px;

}

form h4{
    text-align: center;
}

#login-btn{
    background-color: gray;
    width: 100%;
    height: 40px;
    border: 3px solid gray;
    border-radius: 5px;
    color: #fff;
    font-family: Poppins;
    font-size: 18px;
    cursor: pointer;
}

#login-btn:hover{
    background-color: #fff;
    color: gray;
    border: 3px solid gray;


} 
.list{
    list-style: lower-alpha;
}

.unorder-list{
    list-style-type: square;
}

#t-style{
    background-color: gray;
    border: 2px solid #000;
    width: 600px;
    font-family: Poppins;
}
#t-style thead{
    color: #fff;
    background-color: black;
    font-size: 20px;
}
#t-style thead td{
    border: 2px solid #000;
}
#t-style tr td{
    padding: 40px;
     border: 2px solid #000;
}
